.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: #fff;
}

.task-title{
    font-size: 1.1rem;
    font-weight: 400;
}